<% require 'open-uri' %>
<% require 'nokogiri' %>

<div class="banner border-bottom border-primary">
  <div class="d-flex align-items-end pl-3 pb-2">
    <h1>Explore Vinyls Collection</h1>
  </div>
</div>

<div class="main">
  <ul class="card1-list">
    <h2 class="display-2">Browse</h2>
      <h4>Sort by</h4>

      <form class="form-inline">
        <p><%= check_box_tag :quality, class: "cb-quality" %>  Quality</p>
        <p><%= check_box_tag :year, class: "cb-year" %>  Year</p>
        <p><%= check_box_tag :label, class: "cb-label" %>  Label</p>
        <p><%= check_box_tag :price_per_day, class: "cb-price-per-day" %>  Price per Day</p>
        <p><%= check_box_tag :artist, class: "cb-artist" %>  Artist</p>
      </form>


<% first_album_id = @wrapper.get_artist_releases("329937").releases.first.id %>
<% url = "https://www.discogs.com/Manilla-Road-Invasion/master/323447" %>
<% html_file = open(url).read %>
<% html_doc = Nokogiri::HTML(html_file) %>
<% html_doc.search('#page_content > div.body > div.image_gallery.image_gallery_large > a > span.thumbnail_center').each do |element| %>
  <%= puts "testing #{element.attribute('href')}" %>
<% end %>

<!--
        genre: "Rock",
        label: "Motown",
        quality: "Good",
        price_per_day: 2.00,
        user: user2,
        dimension: dimensions1 -->

      <p>Vinyl image: <%= @wrapper.get_artist_releases("329937").releases.first.id %></p>
      <p>Vinyl year: <%= @wrapper.get_artist_releases("329937").releases.first.year %></p>
      <p>Vinyl name: <%= @wrapper.get_artist_releases("329937").releases.first.title %></p>
      <p>Artist name: <%= @wrapper.get_artist("329937").name %></p>

    <% @vinyls.each do |vinyl| %>
      <li class="card1">
        <%= link_to vinyl_path(vinyl), class: "card1-image" do %>
          <% if vinyl.name == "Jean Sebastien Bach 'Prestige de l'Orgue'" %>
            <%= image_tag "https://img.discogs.com/7udcJdpQTzsxguHoA4_8eok2ow0=/fit-in/600x574/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-10316093-1495203843-9587.jpeg.jpg" %>
          <% elsif vinyl.name == "Highly Evolved" %>
            <%= image_tag "https://img.discogs.com/hC-23wEci6WpnzlQnLdnH6X6go0=/fit-in/600x597/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-10568439-1512063409-2064.jpeg.jpg" %>
          <% elsif vinyl.name == "Moral Panic" %>
            <%= image_tag "https://img.discogs.com/ulyBny9VzzMoLSEhcPGUyhPaI18=/fit-in/600x591/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-16104433-1604320502-4201.jpeg.jpg" %>
          <% elsif vinyl.name == "The Temple Of I & I" %>
            <%= image_tag "https://img.discogs.com/5ZZySadMGBS0UMcqrBjvUGGZiZ8=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-9800369-1534305510-5891.jpeg.jpg" %>
          <% elsif vinyl.name == "I'm In You" %>
            <%= image_tag "https://img.discogs.com/eI8KW65NmCcMJlxu5HiEWKr_QWI=/fit-in/600x594/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-4560460-1505037011-3556.jpeg.jpg" %>
          <% elsif vinyl.name == "More Miles Per Hour" %>
            <%= image_tag "https://img.discogs.com/msBXLcN8oX_xJPP_B14uiX3P8Qo=/fit-in/600x591/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-4367283-1447408391-3598.jpeg.jpg" %>
          <% elsif vinyl.name == "Nightwatch" %>
            <%= image_tag "https://img.discogs.com/leShQiJDAiI9SmBX1_lIHyyLyME=/fit-in/600x602/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-9107652-1474903656-9569.jpeg.jpg" %>
          <% elsif vinyl.name == "Let It Be" %>
            <%= image_tag "https://img.discogs.com/K06O3Z6sYk52ejP3TIf2ZQ5ZB10=/fit-in/600x599/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-1850513-1375949679-9022.jpeg.jpg" %>
          <% elsif vinyl.name == "En Elsker" %>
            <%= image_tag "https://img.discogs.com/TAh2verYo8BNkKcdIMMKgXu-OPA=/fit-in/600x601/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-881971-1443801300-7866.jpeg.jpg" %>
          <% elsif vinyl.name == "Break Every Rule" %>
            <%= image_tag "https://img.discogs.com/shT6_qGwlwqSgwGHkXOQ_mKlyh4=/fit-in/500x500/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-663042-1292638708.jpeg.jpg" %>
          <% elsif vinyl.name == "Det Flyvende Tæppe" %>
            <%= image_tag "https://img.discogs.com/Z9EbYxW-ATvgtuJ-RWLQ6U044EY=/fit-in/600x589/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-1960103-1489948974-5296.jpeg.jpg" %>
          <% elsif vinyl.name == "Lifeline" %>
            <%= image_tag "https://img.discogs.com/nNK8OqYNk6pxpsMStY6mHXMoHgY=/fit-in/600x590/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-3874309-1448629113-7584.jpeg.jpg" %>
          <% elsif vinyl.name == "Live At Last" %>
            <%= image_tag "https://img.discogs.com/eGFY5ahqj64yxImBe6djc58RtJc=/fit-in/600x582/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-9127525-1475472175-6276.jpeg.jpg" %>
          <% else %>
            <%= image_tag "https://cdn.pixabay.com/photo/2012/04/11/12/05/disc-inside-27800_1280.png" %>
          <% end %>
          <%= image_tag "https://cdn.pixabay.com/photo/2014/04/03/00/35/vinyl-308761_1280.png", class: "img-behind" %>
        <% end %>
        <%= link_to vinyl_path(vinyl), class: "card1-description" do %>
          <h2><%= vinyl.name.upcase %></h2>
          <p><%= vinyl.artist %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>


