<div class="banner border-bottom border-primary">
  <div class="d-flex align-items-end pl-3 pb-2">
    <h1>New Vinyl Form</h1>
  </div>
</div>
<div class="main">
  <%= simple_form_for @vinyl do |f| %>
  <%= f.input :name %>
  <%= f.input :artist %>
  <%= f.input :year %>
  <%= f.input :genre %>
  <%= f.input :label %>
  <%= f.input :quality %>
  <%= f.input :dimension %>
  <%= f.input :price_per_day %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
<% end %>
</div>
