<div class="banner border-bottom border-primary">
  <div class="d-flex align-items-end pl-3 pb-2">
    <h1>New Vinyl Form</h1>
  </div>
</div>
<div class="main pt-3 mt-3 row justify-content-center">
  <div class="col-6">
    <%= simple_form_for @vinyl do |f| %>
      <%= f.input :name %>
      <%= f.input :artist %>
      <%= f.input :year, collection: 1948..2020 %>
      <%= f.input :genre, collection: ["Pop", "Rock", "Electro", "Classic", "Raggae", "TECHNOMASTER" ] %>
  </div>
  <div class="col-6">
      <%= f.input :label %>
      <%= f.input :quality, collection: [ "New", "Great", "Good", "Poor"] %>
      <%= f.input :dimension, collection: [ "33 Tours", "45 Tours"] %>
      <%= f.input :price_per_day, input_html: { min: '0.5', step: '0.5' } %>
  </div>
  <div class="col-12 pb-3 mb-3">
      <%= f.input :photo, as: :file, class: "py-3 my-3" %>
      <%= f.button :submit, class: "btn btn-outline-primary" %>
    <% end %>
  </div>
</div>

<div data-video="TmUmNbQj8Uw"
        data-autoplay="0"
        data-loop="1"
        id="youtube-audio">
 </div>


