<div class='container'>
  <h1 ><strong><%= @vinyl.name.upcase %></strong></h1>
  <h2 > <%= @vinyl.artist %> </h2>


  <!-- div cards -->
    <!-- div 1 -->
  <div class="info-book">
    <!-- div info -->
    <div class="info">

      <div class="pb-3 mb-3">
        <div id="img-show">
          <% if @vinyl.photo.attached? %>
            <%= cl_image_tag @vinyl.photo.key %>
          <% elsif @vinyl.name == "Jean Sebastien Bach 'Prestige de l'Orgue'" %>
            <%= image_tag "https://img.discogs.com/7udcJdpQTzsxguHoA4_8eok2ow0=/fit-in/600x574/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-10316093-1495203843-9587.jpeg.jpg" %>
          <% elsif @vinyl.name == "Highly Evolved" %>
            <%= image_tag "https://img.discogs.com/hC-23wEci6WpnzlQnLdnH6X6go0=/fit-in/600x597/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-10568439-1512063409-2064.jpeg.jpg" %>
          <% elsif @vinyl.name == "Moral Panic" %>
            <%= image_tag "https://img.discogs.com/ulyBny9VzzMoLSEhcPGUyhPaI18=/fit-in/600x591/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-16104433-1604320502-4201.jpeg.jpg" %>
          <% elsif @vinyl.name == "The Temple Of I & I" %>
            <%= image_tag "https://img.discogs.com/5ZZySadMGBS0UMcqrBjvUGGZiZ8=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-9800369-1534305510-5891.jpeg.jpg" %>
          <% elsif @vinyl.name == "I'm In You" %>
            <%= image_tag "https://img.discogs.com/eI8KW65NmCcMJlxu5HiEWKr_QWI=/fit-in/600x594/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-4560460-1505037011-3556.jpeg.jpg" %>
          <% elsif @vinyl.name == "More Miles Per Hour" %>
            <%= image_tag "https://img.discogs.com/msBXLcN8oX_xJPP_B14uiX3P8Qo=/fit-in/600x591/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-4367283-1447408391-3598.jpeg.jpg" %>
          <% elsif @vinyl.name == "Nightwatch" %>
            <%= image_tag "https://img.discogs.com/leShQiJDAiI9SmBX1_lIHyyLyME=/fit-in/600x602/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-9107652-1474903656-9569.jpeg.jpg" %>
          <% elsif @vinyl.name == "Let It Be" %>
            <%= image_tag "https://img.discogs.com/K06O3Z6sYk52ejP3TIf2ZQ5ZB10=/fit-in/600x599/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-1850513-1375949679-9022.jpeg.jpg" %>
          <% elsif @vinyl.name == "En Elsker" %>
            <%= image_tag "https://img.discogs.com/TAh2verYo8BNkKcdIMMKgXu-OPA=/fit-in/600x601/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-881971-1443801300-7866.jpeg.jpg" %>
          <% elsif @vinyl.name == "Break Every Rule" %>
            <%= image_tag "https://img.discogs.com/shT6_qGwlwqSgwGHkXOQ_mKlyh4=/fit-in/500x500/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-663042-1292638708.jpeg.jpg" %>
          <% elsif @vinyl.name == "Det Flyvende Tæppe" %>
            <%= image_tag "https://img.discogs.com/Z9EbYxW-ATvgtuJ-RWLQ6U044EY=/fit-in/600x589/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-1960103-1489948974-5296.jpeg.jpg" %>
          <% elsif @vinyl.name == "Lifeline" %>
            <%= image_tag "https://img.discogs.com/nNK8OqYNk6pxpsMStY6mHXMoHgY=/fit-in/600x590/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-3874309-1448629113-7584.jpeg.jpg" %>
          <% elsif @vinyl.name == "Live At Last" %>
            <%= image_tag "https://img.discogs.com/eGFY5ahqj64yxImBe6djc58RtJc=/fit-in/600x582/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-9127525-1475472175-6276.jpeg.jpg" %>
          <% else %>
            <%= image_tag "https://cdn.pixabay.com/photo/2012/04/11/12/05/disc-inside-27800_1280.png" %>
          <% end %>

        </div>

          <div class="card-product-infos">
            <!-- div 1er ul -->
            <div class="ul1">
             <ul>
              <li><strong class="card-label">Year:
                <br></strong><%= @vinyl.year %>  </li>
              <li><strong class="card-label">Genre:
                <br></strong><%= @vinyl.genre %>  </li>
              </ul>
            </div>
            <!-- div 2em ul -->
            <div class="ul2">
              <ul>
                <li><strong class="card-label">Label: </strong>
                  <br> <%= @vinyl.label %>  </li>
                <li><strong class="card-label">Quality:
                  <br> </strong><%= @vinyl.quality %>  </li>
              </ul>
            </div>
             <!-- div 2em ul -->
            <div class="ul3">
              <ul>
                <li><strong class="card-label">Dimension: </strong>
                  <br> <%= @vinyl.dimension %>  </li>
                <li><i class="far fa-money-bill-alt card-label"></i><strong class="card-label"> Price per day: </strong>
                  <br> <%= '%.2f' % @vinyl.price_per_day %> €</li>
              </ul>
            </div>
            <div data-video=<%= @vinyl.image_url %>
              data-autoplay="0"
              data-loop="1"
              id="youtube-audio">
            </div>
            <script src="../iframe.js"></script>
            <script src="../youtube.js"></script>

          </div>
        </div>
      </div>

      <div class="book">
          <div class="card-book">
            <p class="my-3">Price per day : <span class="price-per-day"><%= '%.2f' % @vinyl.price_per_day %></span> €</p>

            <div style=" margin: 0 auto;">
              <%= simple_form_for [@vinyl, @rent] do |f| %>
                <%= f.input :start_date, as: :string, placeholder: 'Choose your date', required: false, input_html: {class: "datepicker", id:"rangestart"} %>
                <%= f.input :end_date, as: :string, placeholder: 'Choose your date', required: false, input_html: {class: "datepicker", id:"rangeend"} %>
                <%= f.button :submit, "Reserve", class: "btn btn-primary cta-book" %>
              <% end %>
              <hr>
              <h4 class="text-center">Total : <span class="price-total"><%= '%.2f' % @vinyl.price_per_day %></span>€</h4>
            </div>
          </div>
        <div class="container-map">
          <div id="map"
            class="map"
            data-markers=" <%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>

<!-- end info-book -->
    </div>


  <!-- div map -->

<!-- end container de la page -->
</div>

