<div class="banner border-bottom border-primary">
  <div class="d-flex align-items-end pl-3 pb-2">
    <h1>D A S H B O A R D</h1>
  </div>
</div>

<div>
  <% if flash[:notice] %>
    <div class="notice alert alert-info"><%= flash[:notice] %></div>
  <% end %>
</div>

<div class="dash-main col-10">
  <div class="board">
    <h3  class="dashtitle">Pending approval</h3>
    <ul class="list-group list-unstyled">
      <% @rents_pending.select do |rent| %>
        <li class="btn btn-outline-primary dashlist">
          <%= link_to vinyl_path(rent.vinyl), class: "dashlink"  do%>
            <%= rent.vinyl.name %><hr>
            There is <%= (rent.end_date - Time.now).fdiv(86400).to_i + 1 %> Days left <hr>
            Owner is <%= rent.vinyl.user.first_name %> <%= rent.vinyl.user.last_name %> <hr>
            You paid : <%= '%.2f' % rent.price %>€ <hr>
            Status : <%= rent.status %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="board">
    <h3 class="dashtitle">Rentals to come</h3>
    <ul class="list-group list-unstyled">
      <% @rents_to_come.each do |rent| %>
        <li class="btn btn-outline-primary dashlist">
          <%= link_to vinyl_path(rent.vinyl), class: "dashlink"  do%>
            <%= rent.vinyl.name %><hr>
            There is <%= (rent.end_date - Time.now).fdiv(86400).to_i + 1 %> Days left <hr>
            Owner is <%= rent.vinyl.user.first_name %> <%= rent.vinyl.user.last_name %> <hr>
            You paid : <%= '%.2f' % rent.price %>€
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="board">
    <h3 class="dashtitle">Currently renting</h3>
    <ul class="list-group list-unstyled">
      <% @rents_current.each do |rent| %>
        <li class="btn btn-outline-primary dashlist">
          <%= link_to vinyl_path(rent.vinyl), class: "dashlink"  do%>
            <%= rent.vinyl.name %><hr>
            There is <%= (rent.end_date - Time.now).fdiv(86400).to_i + 1 %> Days left <hr>
            Owner is <%= rent.vinyl.user.first_name %> <%= rent.vinyl.user.last_name %> <hr>
            You paid : <%= '%.2f' % rent.price %>€
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="board">
    <h3 class="dashtitle">Previous rentals</h3>
    <ul class="list-group list-unstyled">
      <% @rents_previous.each do |rent| %>
        <li class="btn btn-outline-primary dashlist">
          <%= link_to vinyl_path(rent.vinyl), class: "dashlink"  do%>
            <%= rent.vinyl.name %><hr>
            There is <%= (rent.end_date - Time.now).fdiv(86400).to_i + 1 %> Days left <hr>
            Owner is <%= rent.vinyl.user.first_name %> <%= rent.vinyl.user.last_name %> <hr>
            You paid : <%= '%.2f' % rent.price %>€
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
